.container {

}

.header {
  display: flex;
  margin-bottom: -1px;
}

.header_item {
  border: 1px solid #aaa;
  border-width: 1px 0 1px 1px;
  padding: 10px 20px;
  cursor: pointer;
  user-select: none;

  &:last-child {
    border-right-width: 1px;
  }

  &.active {
    border-bottom-color: #fff;
  }
}

.content {
  min-height: 200px;
  max-height: 75vh;
  border: 1px solid #aaa;
  padding: 20px;
  overflow-y: auto;
}